section.smallCard
  if js = true
    a(href='/cards/' + id)
      img.previewImage(src= imageUrl, alt= "image of card " + id)
  else 
    a(href='/cards/' + id)
      img.previewImage(src= imageUrl, alt= "image of card " + id)
