- var css = 'css/styles.css'
- var title = 'Pokémon TCG Webapp: Sun & Moon 9'
include includes/header
body
  header
    form
      h1 Pokémon TCG Webapp
      input.searchField(type='text', name='value', autocomplete='off')
      input#radioName(type='radio', name='search', checked='checked', value='name')
      label(for='radioName') Name
      input#radioType(type='radio', name='search', value='type')
      label(for='radioType') Type
      input#radioRarity(type='radio', name='search', value='rarity')
      label(for='radioRarity') Rarity
      input#radioText(type='radio', name='search', value='text')
      label(for='radioText') All card text
  main
    each i in cards
      - let id = i.id
      - let imageUrl = i.imageUrl
      include includes/smallcard
    
    //.wrapper
      .pokeball
    // Pokeball loader found at https://codepen.io/vinztt/pen/XjEyvk
  script(src='js/router.js')
  script(type='module', src='js/app.js')
