doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../../css/styles.css')
    link(rel='stylesheet', href='css/pokeball_loader.css')
    link(rel='icon', href='img/pokeball.jpg')
    title Pokémon TCG Webapp: Sun & Moon 9
  body
    header
      h1 Pokémon TCG Webapp (#{cards.length + " cards"})
      a(href="../..")
        h2 back 
    main
      each i in cards
        - let id = i.id
        - let imageUrl = i.imageUrl
        include includes/smallcard
      
      //.wrapper
        .pokeball
      // Pokeball loader found at https://codepen.io/vinztt/pen/XjEyvk
