- var css = '../../css/styles.css'
- var title = 'Pokémon TCG Webapp: Sun & Moon 9'
include includes/header
body
  header
    h1 Pokémon TCG Webapp (#{cards.length + " cards"})
    a(href="../..")
      h2 back 
  main
    each i in cards
      - let id = i.id
      - let imageUrl = i.imageUrl
      include includes/smallcard
    
    //.wrapper
      .pokeball
    // Pokeball loader found at https://codepen.io/vinztt/pen/XjEyvk
