- var css = '../css/styles.css'
- var title = 'Pokémon TCG Webapp: Sun & Moon 9'
include includes/header
body
  header
    h1 Pokémon TCG Webapp
    input.searchField(type='text')
    input#radioName(type='radio', name='search', checked='checked', value='name')
    label(for='radioName') Name
    input#radioType(type='radio', name='search', value='type')
    label(for='radioType') Type
    input#radioRarity(type='radio', name='search', value='rarity')
    label(for='radioRarity') Rarity
    input#radioText(type='radio', name='search', value='text')
    label(for='radioText') All card text
  main
    include includes/largecard
  
    //.wrapper
      .pokeball
    // Pokeball loader found at https://codepen.io/vinztt/pen/XjEyvk
